<style>
    .article-meta {
        display: none;
    }
    #container .article .article-title {
        padding-right: 0;
    }
    .article-header {
        padding: 0;
        padding-top: 26px;
        border-left: none;
        text-align: center;
    }
    .article-header:hover {
        border-left: none;
    }
    .article-title {
        font-size: 1.6em
    }
    .article-meta {
        display: none;
    }
    .article-entry hr {
        margin: 0;
    }
    #container .article-info-post.article-info {
      display: none;
      }
    #container .article .article-title {
    padding: 0;
    }
</style>

<% if (page.path === "tags/index.html"){ %>
    <!-- Tag Cloud Page -->
    <hr>
    <br>
    <%- list_categories({
        depth: 1,
    }) %>

    <div class="tags" id="tags" style="display:none">
        <ul>
        <%- tagcloud({
            min_font: 16, 
            max_font: 35, 
            amount: 999, 
            color: true, 
            start_color: 'gray', 
            end_color: 'black',
        }) %>
        </ul>
    </div>
    <style>
        .category-list li{
            display: inline-block;
            margin: 0 1em .5em 0;
            padding: 4px;
            border: 1px solid lightgray;
            font-size: 1.2em;
        }
        .category-list a {
            color: gray;
        }
        .category-list-item:hover a {
            color: gray;
            text-decoration: none;
        }
        .category-list-count {
            margin-left: 2px;
            font-size: .9em;
        }
        .article-entry ul li:before{
            display: none;
        }
        .article-inner  {
            text-align: center;
        }
        .tags {
            max-width: 40em;
            margin: 2em auto;
            margin-top: 0em;
        }
        .tags a {
            margin-right: 1em;
            line-height: 65px;
            border-bottom: 1px solid gray;
            white-space: nowrap;
        }
        .tags a:hover {
            border-bottom: 2px solid black;
            text-decoration: none;
            font-style: italic;
        }
        #count > span {
            margin: auto .2em;
            font-weight: bold;
        }
    </style>

    <!-- Count tags and categories -->
    <script src="/js/jquery.tagcanvas.js"></script>
    <div id="myCanvasContainer">
        <canvas width="300" height="300" id="my3DTags">
          <p>Anything in here will be replaced on browsers that support the canvas element!</p>
        </canvas>
    </div>
    <script>
    $(document).ready(function(){
        $("#my3DTags").tagcanvas({textFont:"Georgia,Optima",textColour:null,outlineColour:"#ff00ff",weight:!0,reverse:!0,depth:.8,maxSpeed:.05,bgRadius:1,freezeDecel:!0},"tags")||$("#myCanvasContainer").hide()});
    </script>
<% } %>
